.card-box {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #adadad54;
}

.card-box:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: box-shadow 0.3s ease-in-out;
}

.country{
  color:#fff;
}

.social-links li a {
  border-radius: 50%;
  color: rgba(121, 121, 121, .8);
  display: inline-block;
  height: 30px;
  line-height: 27px;
  border: 2px solid rgba(121, 121, 121, .5);
  text-align: center;
  width: 30px
}

.social-links li a:hover {
  color: #797979;
  border: 2px solid #797979
}
.thumb-lg {
  height: 88px;
  width: 88px;
}
.img-thumbnail {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}
.text-pink {
  color: #ff679b!important;
  display: block;
}
.btn-rounded {
  border-radius: 2em;
}
.text-muted {
  color: #98a6ad!important;
  display: block;
}
h4 {
  line-height: 22px;
  font-size: 18px;
}


.height{
  height: 22vh;
 }


 .search{
 position: relative;
 box-shadow: 0 0 40px rgba(51, 51, 51, .1);

 }

 .search input{
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
 }


 .search input:focus{
  box-shadow: none;
  border: 2px solid blue;
 }

 .search .fa-search{
  position: absolute;
  top: 20px;
  left: 16px;
 }

 .search button{
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: blue;
 }


 .content-center{
  display: flex;
    justify-content: center;
    align-items: center;
}


  .search-results {
    height: 30rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .data-card{
    padding: 5px;
    margin: 8px 0px;
    width: 20%;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    background-color: rgb(236, 234, 111);
  }




  .containers {
    position: relative;
    max-width: 400px;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

  .containers:hover .overlay {
    opacity: 1;
  }

  .icon {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .fa-user:hover {
    color: #eee;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .button-right{
    display: flex;
    justify-content: end;
  }

  .copy-btn{
    position: absolute;
    top: 85%;
    right: 2%;
  }


  .my-pagination{
    float: right;
  }


  /* Like Button */

  .action-buttons{
    padding: 10px;
    border: 1px solid #99999936;
    border-radius: 4px;
  }

  .containered input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .containered {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
    transition: 100ms;
  }

  .checkmark {
    top: 0;
    left: 0;
    height: 2em;
    width: 2em;
    transition: 100ms;
    animation: dislike_effect 400ms ease;
    display: inline-block;
  }

  .context-value{
    margin-left: 4px;
    font-size: 13px !important;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }

  .containered input:checked ~ .checkmark path {
    fill: #FF5353;
    stroke-width: 0;
  }

  .containered input:checked ~ .checkmark {
    animation: like_effect 400ms ease;
  }

  /* .containered:hover {
    transform: scale(1.1);
  } */

  @keyframes like_effect {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes dislike_effect {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }
  /* Like Button - ends */
