<div class="container">

  <div class="row height d-flex justify-content-center align-items-center">

    <div class="col-md-4">
      <div class="search">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder="Search by Name" [(ngModel)]="searchTerm">
        <button class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>

  </div>

<div class="content mt-3">
    <div class="container">

        <div class="row">
            <div class="col-md-3" *ngFor="let data of assignedValue?.results | searchfilter: searchTerm | paginate: config">

                <div class="text-center card-box" style="border: 1px solid #e1e1e1;">
                    <div class="member-card pt-2 pb-2">

                        <div class="thumb-lg member-thumb containers mx-auto mb-3">
                          <img src={{data.picture?.large}} class="rounded-circle img-thumbnail" alt="profile-image">
                          <div class="overlay">
                            <span class="icon" title="{{data.name?.first}}" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            style="text-decoration: none">
                              <i class="fa fa-user" (click)="storeData(data)"></i>
                            </span>
                            </div>
                        </div>

                        <div class="">
                            <h4>
                              <span class="label label-primary" style="color:#fff">
                                {{data.name?.first + " " + data.name?.last}}
                              </span>
                            </h4>
                            <p class="text-muted">@ {{data.location?.state}}
                              <span>
                                <a href="#" class="text-pink">{{data?.email}}</a>
                              </span>
                            </p>
                        </div>

                        <div class="country mb-3">
                          <h4>{{data.location?.country}}</h4>
                        </div>

                        <!-- <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button> -->

                        <div class="action-buttons">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="button">
                                      <label class="containered" [for]="data.login?.md5">
                                        <input type="checkbox" [id]="data.login?.md5" [(ngModel)]="LikeBtn" (ngModelChange)="PostLikeBtn($event)">
                                        <div class="checkmark">
                                          <svg viewBox="0 0 256 256">
                                            <rect fill="none" height="256" width="256"></rect>
                                            <path d="M224.6,51.9a59.5,59.5,0,0,0-43-19.9,60.5,60.5,0,0,0-44,17.6L128,59.1l-7.5-7.4C97.2,28.3,59.2,26.3,35.9,47.4a59.9,59.9,0,0,0-2.3,87l83.1,83.1a15.9,15.9,0,0,0,22.6,0l81-81C243.7,113.2,245.6,75.2,224.6,51.9Z"
                                            stroke-width="20px" stroke="#FFF" fill="none">
                                            </path>
                                          </svg>
                                        </div>
                                        <span class="context-value">Like</span>
                                      </label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                  <div class="button" style="display: inline-flex">
                                      <span>
                                        <i class="fa fa-comment"></i>
                                      </span>
                                      <span class="context-value">Comment</span>
                                  </div>
                                </div>

                                <div class="col-md-4">
                                  <div class="button" style="display: inline-flex">
                                      <span>
                                        <i class="fa fa-send-o"></i>
                                      </span>
                                      <span class="context-value">share</span>
                                  </div>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
    </div>
</div>




<!--Modal Details-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" *ngIf="mainData">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">
          <b>{{mainData.name?.first + ' ' + mainData.name?.last}}</b>
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">User ID</label>
                        <input type="text" class="form-control" id="recipient-name"
                        value="{{mainData.login?.uuid}}" readonly>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">User Name</label>
                        <input type="text" class="form-control" id="recipient-name"
                        value="{{mainData.login?.username}}" readonly>
                      </div>
                    </div>
                    <div class="col-md-3 mt-2">
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Full Name</label>
                        <input type="text" class="form-control" id="recipient-name"
                        value="{{mainData.name?.first + ' ' + mainData.name?.last}}"
                        readonly>
                      </div>
                    </div>
                      <div class="col-md-3 mt-2">
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Location</label>
                          <input type="text" class="form-control" id="recipient-name" value="{{mainData.location?.state + ' ' + '-' + ' ' + mainData.location?.country}}"
                          readonly>
                        </div>
                      </div>
                       <div class="col-md-3 mt-2">
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Phone-Number</label>
                          <input type="text" class="form-control" id="recipient-name"
                          value="{{mainData.phone}}" readonly>
                        </div>
                      </div>
                      <div class="col-md-3 mt-2">
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Date of Birth</label>
                          <input type="text" class="form-control" id="recipient-name"
                          value="{{mainData.dob?.date | date}}" readonly>
                        </div>
                      </div>
                      <div class="col-md-6 mt-2">
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Email</label>
                          <input type="text" class="form-control" id="recipient-name"
                          value="{{mainData.email}}" readonly>
                        </div>
                      </div>


                      <div class="col-md-2 mt-2">
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Age</label>
                          <input type="text" class="form-control" id="recipient-name"
                          value="{{mainData.dob?.age}}" readonly>
                        </div>
                      </div>
                      <div class="col-md-2 mt-2">
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Gender</label>
                          <input type="text" class="form-control" id="recipient-name"
                          value="{{mainData.gender}}" readonly>
                        </div>
                      </div>
                      <div class="col-md-2 mt-2">
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">PostCode</label>
                          <input type="text" class="form-control" id="recipient-name"
                          value="{{mainData.location?.postcode}}" readonly>
                        </div>
                      </div>
                      <div class="col-md-12 mt-2">
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Profile Picture</label>
                          <input type="text" class="form-control shadow-none" id="myInput"
                          value="{{mainData.picture?.large}}">
                          <div class="copy-btn">
                              <button class="btn btn-dark copy-btn shadow-none" (click)="CopyText()">
                                <i class="fa fa-copy"></i>
                              </button>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer" style="border-top: 0;">
        <div class="row" style="min-width: 100%;">
            <div class="col-md-6">
              <button type="button" class="btn btn-success"(click)="shareBtn()">View on other Page</button>
            </div>
            <div class="col-md-6 button-right">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
